{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>汉购网 -注册</title>

		<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.idcode.css' %}">
		<script type="text/javascript" src="{% static 'js/jquery-1.12.3.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/gVerify.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.idcode.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/register-1.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/register-2.js' %}"></script>
	</head>
	<body>
        <!--主要部分  -->
        <div class="nc-register-bg">
		  	<div class="nc-register-box">
		    	<div class="nc-register-layout">
		    		<!--左边-->
		      		<div class="left">
		        		<div class="nc-register-mode">
		        			<!--注册--顶部-->
		          			<ul class="tabs-nav">
		            			<li class="tabulous_active"><a href="#tabs-pc">账号注册</a><i></i></li>
		                    </ul>
		                    <!--注册--底部-->
		          			<div class="tabs-container">
		          				<!--账号注册-->
		            			<div class="tabs-content show">
	              					<form class="nc-login-form" id="tabs-pc" action="{% url 'tgw:register' %}" method="post">
                                    {% csrf_token %}
	                					<dl>
						                    <dt>用户名：</dt>
						                  	<dd>
						                    	<input class="text" placeholder="请使用3-15个中、英文、数字及“-”符号" type="text" id="username" name="name">
						                 	 </dd>
						                </dl>
						                <dl>
						                  	<dt>设置密码：</dt>
							                <dd>
						                    	<input class="text" placeholder="6-20个大小写英文字母、符号或数字" type="text" id="pad" name="password">
							                </dd>
						                </dl>
						                <dl>
						                  	<dt>确认密码：</dt>
						                  	<dd>
						                    	<input class="text" placeholder="请再次输入密码" type="text" id="confirmpas">
						                  </dd>
						                </dl>
						                <dl>
						                  	<dt>邮箱：</dt>
						                  	<dd>
						                    	<input class="text" placeholder="输入常用邮箱作为验证及找回密码使用"  type="text" id="mailbox" name="email">
						                 	 </dd>
						                </dl>
						                <div class="submit-div">
						                	<input type="submit" value="立即注册" id="submit" class="submit"/>
						                </div>

					              	</form>
{#                                    <button id="subButton">注册</button>#}

					            </div>
					            <!--手机注册-->
					            <!--下一步-->

		                    </div>
		        		</div>
		      		</div>
		      		<!--右侧-->

			    </div>
		  	</div>
		</div>
		<!--底部-->

	</body>
</html>
